/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(240,240,240);
  /* overflow: hidden; */
}
body {
  height: 100%;
  width: 100%;
  flex: 1;
  margin: 0;
  /* overflow: hidden; */
}